front/package-lock.json
update-borders.js
*.class
target/
/back/target
spring.log
spring.log
*.log
spring.log
*.class
spring.log.2026-05-08.0.gz
spring.log.2026-05-01.0.gz
*.gz
spring.log
back/target/classes/com/avo/AvoApplication.class
back/target/classes/com/avo/AvoApplication.class
back/target/classes/com/avo/controller/HomeController.class
back/target/classes/com/avo/controller/TestController.class
back/target/classes/com/avo/AvoApplication.class
back/target/classes/com/avo/controller/HomeController.class
back/target/classes/com/avo/controller/TestController.class
back/target/classes/application.properties
back/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
back/target/classes/com/avo/AvoApplication.class
back/target/classes/com/avo/controller/HomeController.class
back/target/classes/com/avo/controller/TestController.class
back/target/classes/com/avo/AvoApplication.class
*.class
/back/target/classes
*.class
*.lst
*.lst
*.class
*.class
*.lst
*.lst
/back/target/classes
*.lst
*.class
