front/package-lock.json
update-borders.js
target/
/back/target/
spring.log
*.log
*.gz
*.class
*.lst
back/target/classes/com/avo/AvoApplication.class
*.class
back/target/classes/com/avo/controller/HomeController.class
back/target/classes/com/avo/controller/TestController.class
back/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
back/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
back/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
back/target/classes/com/avo/controller/TestController.class
back/target/classes/com/avo/controller/HomeController.class
back/target/classes/com/avo/AvoApplication.class
